<div class="toolbar" role="banner">
  <a
    aria-label="AMIS"
    target="_blank"
    rel="noopener"
    href="https://www.conclusion.nl/amis"
    title="AMIS"
  >
    <img
      class="amis-logo"
      src="../../assets/images/AMIS-logo.png"
      alt="AMIS logo"
    />
  </a>
  <h2 class="title">Sort Angular Material on string enum original order</h2>
  <div class="spacer"></div>
  <a
    aria-label="AMIS technology blog"
    target="_blank"
    rel="noopener"
    href="https://technology.amis.nl/"
    title="AMIS technology blog"
  >
    <img
      class="amis-technology-logo"
      src="../../assets/images/LOGO_AMIS_TECHNOLOGY_BLOG_15YRS.png"
      alt="AMIS technology blog logo"
    />
  </a>
</div>

<div class="content" role="main">
  <app-user-table class="user-table-component"></app-user-table>
</div>
