.user-table-component-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-bar {
  height: 3em;
  background-color: #fe5f55;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 5em;
}

.user-table-container {
  height: calc(100% - 3em);
  overflow: auto;
}

.user-table {
  width: 100%;
}
